body {
        background: white;
     }
section img {
    max-width: 500px;
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
}
section {
    max-width: 550px;
    padding: 1em;
    margin: 0 auto;
}
section p {
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
}

section p.small {
    font-size: 1.25em;
}
