body {
        background: white;
     }
section img {
    max-width: 500px;
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
}
section {
    max-width: 550px;
    padding: 1em;
    margin: 0 auto;
}
section p, h2 {
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    line-height: 1.5em;
}

h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}

section p.small {
    font-size: 1.25em;
}
